<div class="top-header">
    <h1>Add New Patient</h1>
    <button mat-flat-button [routerLink]="['/admin/patients']">Back</button>
</div>
<mat-card appearance = "outlined">
    <mat-card-content class="mat-card">
        <div class="row">  
            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name">  
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name">  
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">  
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number">  
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number">  
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number">  
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>

    

