.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
  
}

.sidenav-container {
  flex: 1; 
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;

}

.sidenav{
  background-color: #d7e3ff;
  border-radius: 0;
  border-right: 1px solid #c4c6d0;
}

.sidenav-content{
  padding: 30px;
  background-color: #fff;
}

.toolbar{
  background-color: #d7e3ff;
  border-bottom: 1px solid #c4c6d0; 
}