table {
    width: 100%;
  }
 
.appointments-table-container {
  overflow-x: auto;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #74777f;
}

@media (max-width: 600px) {
  .appointments-table th, .appointments-table td {
    white-space: nowrap;
  }
}