<!-- Prescriptio Details Section -->
<div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold text-gray-700">Prescription Details:</h2>
    <button
      class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button" [routerLink]="['/admin/prescriptions']">Back</button>
</div>
<div class="overflow-x-auto">
    <ng-container *ngIf="prescriptions$ | async as prescription">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-100">
                  <th class="px-4 py-2 text-left text-gray-600">Date Issued</th>
                  <th class="px-4 py-2 text-left text-gray-600">Medication</th>
                  <th class="px-4 py-2 text-left text-gray-600">Dosage</th>
                  <th class="px-4 py-2 text-left text-gray-600">Ordered By</th>
                  <th class="px-4 py-2 text-left text-gray-600">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t border-gray-200">
                    <td class="px-4 py-2 text-left break-words">{{prescription.dateIssued | date: 'short'}}</td>
                    <td class="px-4 py-2 text-left">{{ prescription.medicationList }}</td>
                    <td class="px-4 py-2 text-left">{{ prescription.dosage }}</td>
                    <td class="px-4 py-2">
                        <span *ngFor="let doctor of prescription.doctors; let i = index">
                          Dr.  {{ doctor.firstName }} {{ doctor.lastName }} <span *ngIf="i < prescription.doctors.length - 1">, </span>
                        </span>
                    </td>
                    <td class="px-4 py-2 text-left">{{ prescription.remarks }}</td>
                </tr>
            </tbody>    
        </table>
    </ng-container>
</div>

<!-- Patient Section --> 
<ng-container *ngIf="patients$ | async as patients">
    <div *ngIf="patients.length > 0">
      <div class="flex justify-between items-center mb-4 mt-8">
        <h2 class="text-xl font-semibold text-gray-700">Patient Details :</h2>
      </div>
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-center text-gray-600">Full Name</th>
            <th class="px-4 py-2 text-center text-gray-600">Age</th>
            <th class="px-4 py-2 text-center text-gray-600">Sex</th>
            <th class="px-4 py-2 text-center text-gray-600">Contact Number</th>
            <th class="px-4 py-2 text-center text-gray-600">Email</th>
            <th class="px-4 py-2 text-center text-gray-600">Patient Type</th>
            <th class="px-4 py-2 text-center text-gray-600">Diagnosis</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200" *ngFor="let patient of patients">
            <td class="px-4 py-2 text-center">{{ patient.firstName }} {{ patient.lastName }}</td>
            <td class="px-4 py-2 text-center">{{ patient.age }}</td>
            <td class="px-4 py-2 text-center">{{ patient.sex }}</td>
            <td class="px-4 py-2 text-center">{{ patient.contactNumber }}</td>
            <td class="px-4 py-2 text-center">{{ patient.email}}</td>
            <td class="px-4 py-2 text-center">{{ patient.patientType }}</td>
            <td class="px-4 py-2 text-center">{{ patient.diagnosis }}</td>
        </tbody>
      </table>  
    </div>
  </ng-container>

<!-- Doctor Section --> 
<ng-container *ngIf="doctors$ | async as doctors">
    <div *ngIf="doctors.length > 0">
      <div class="flex justify-between items-center mb-4 mt-8">
        <h2 class="text-xl font-semibold text-gray-700">Assigned Doctor(s):</h2>
      </div>
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-4 py-2 text-left text-gray-600 break-words">Full Name</th>
              <th class="px-4 py-2 text-left text-gray-600 break-words">Email</th>
              <th class="px-4 py-2 text-left text-gray-600 break-words">Contact Number</th>
              <th class="px-4 py-2 text-left text-gray-600 break-words">Specialization</th>
              <th class="px-4 py-2 text-left text-gray-600 break-words">Department</th>
              <th class="px-4 py-2 text-left text-gray-600 break-words">Schedule</th>
            </tr>  
          </thead>
          <tbody>
            <tr class="border-t border-gray-200" *ngFor="let doctor of doctors">
              <td class="px-4 py-2"> Dr. {{ doctor.firstName }} {{ doctor.lastName }}</td>
              <td class="px-4 py-2"> {{ doctor.email }}</td>
              <td class="px-4 py-2"> {{ doctor.contactNumber }}</td>
              <td class="px-4 py-2"> {{ doctor.specialization }}</td>
              <td class="px-4 py-2"> {{ doctor.department }}</td>
              <td class="px-4 py-2"> {{ doctor.schedule }}</td>
            </tr>
          </tbody>
        </table>
      </div>      
    </div>
  </ng-container> 
