<!-- Patient Details Section -->
<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl font-semibold text-gray-700">Patient's Details:</h2>
  <button
    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button" [routerLink]="['/admin/patients']">Back</button>
</div>
<div class="overflow-x-auto">
  <ng-container *ngIf="patients$ | async as patient">
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-left text-gray-600">Full Name</th>
          <th class="px-4 py-2 text-left text-gray-600">Age</th>
          <th class="px-4 py-2 text-left text-gray-600">Sex</th>
          <th class="px-4 py-2 text-left text-gray-600">Contact Number</th>
          <th class="px-4 py-2 text-left text-gray-600">Email</th>
          <th class="px-4 py-2 text-left text-gray-600">Address</th>
          <th class="px-4 py-2 text-left text-gray-600">Patient Type</th>
          <th class="px-4 py-2 text-left text-gray-600">Diagnosis</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t border-gray-200">
          <td class="px-4 py-2">{{patient.firstName}} {{patient.lastName}}</td>
          <td class="px-4 py-2">{{patient.age}}</td>
          <td class="px-4 py-2">{{patient.sex}}</td>
          <td class="px-4 py-2">{{patient.contactNumber}}</td>
          <td class="px-4 py-2">{{patient.email}}</td>
          <td class="px-4 py-2">{{patient.address}}</td>
          <td class="px-4 py-2">{{patient.patientType}}</td>
          <td class="px-4 py-2">{{patient.diagnosis}}</td>
        </tr>  
      </tbody>
    </table>  
  </ng-container>
</div>

<!-- Prescriprion History Section -->
<ng-container *ngIf="prescriptions$ | async as prescriptions">
  <div *ngIf="prescriptions.length > 0">
    <div class="flex justify-between items-center mb-4 mt-8">
      <h2 class="text-xl font-semibold text-gray-700">Prescription History:</h2>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-left text-gray-600">Medication</th>
            <th class="px-4 py-2 text-left text-gray-600">Dosage</th>
            <th class="px-4 py-2 text-left text-gray-600">Date Prescribed</th>
            <th class="px-4 py-2 text-left text-gray-600">Prescribed By</th>
            <th class="px-4 py-2 text-left text-gray-600">Instruction</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200" *ngFor="let prescription of prescriptions">
            <td class="px-4 py-2">{{ prescription.medicationList }}</td>
            <td class="px-4 py-2">{{ prescription.dosage }}</td>
            <td class="px-4 py-2">{{ prescription.dateIssued | date: 'short' }}</td>
            <td class="px-4 py-2">
              <ul>
                <li *ngFor="let doctor of prescription.doctors">
                  Dr. {{ doctor.firstName }} {{ doctor.lastName }}
                </li>
              </ul>
            </td>
            <td class="px-4 py-2">{{ prescription.remarks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<!-- Billing History Section -->
<ng-container *ngIf="billings$ | async as billings">
  <div *ngIf="billings.length > 0">
    <div class="flex justify-between items-center mb-4 mt-8">
      <h2 class="text-xl font-semibold text-gray-700">Billing History:</h2>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-left text-gray-600">Date Of Billing</th>
            <th class="px-4 py-2 text-left text-gray-600">Payment Status</th>
            <th class="px-4 py-2 text-left text-gray-600">Payment Method</th>
            <th class="px-4 py-2 text-left text-gray-600">Total Amount</th>
            <th class="px-4 py-2 text-left text-gray-600">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200" *ngFor="let billing of billings">
            <td class="px-4 py-2">{{ billing.dateOfBilling | date: 'short' }}</td>
            <td class="px-4 py-2">{{ billing.paymentStatus }}</td>
            <td class="px-4 py-2">{{ billing.paymentMethod }}</td>
            <td class="px-4 py-2">£{{ billing.totalAmount }}</td>
            <td class="px-4 py-2">{{ billing.remarks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>  

<!-- Admission History Section -->
<ng-container *ngIf="admissions$ | async as admissions">
  <div *ngIf="admissions.length > 0">
    <div class="flex justify-between items-center mb-4 mt-8">
      <h2 class="text-xl font-semibold text-gray-700">Admission History:</h2>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-left text-gray-600">Date</th>
            <th class="px-4 py-2 text-left text-gray-600">Room Number</th>
            <th class="px-4 py-2 text-left text-gray-600">Room Type</th>
            <th class="px-4 py-2 text-left text-gray-600">Availability Status</th>
            <th class="px-4 py-2 text-center text-gray-600">Assigned Doctor</th>
            <th class="px-4 py-2 text-center text-gray-600">Assigned Nurse</th>
            <th class="px-4 py-2 text-left text-gray-600">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200" *ngFor="let admission of admissions">
            <td class="px-4 py-2">{{ admission.date | date: 'short' }}</td>
            <td class="px-4 py-2">{{ admission.roomNumber }}</td>
            <td class="px-4 py-2">{{ admission.roomType }}</td>
            <td class="px-4 py-2">{{ admission.availabilityStatus }}</td>
            <td class="px-4 py-2">
              <ul>
                <li *ngFor="let doctor of admission.doctors">
                  Dr. {{ doctor.firstName }} {{ doctor.lastName }}
                </li>
              </ul>
            </td>
            <td class="px-4 py-2">
              <ul>
                <li *ngFor="let nurse of admission.nurses">
                  {{ nurse.firstName }} {{ nurse.lastName }}, RN
                </li>
              </ul>
            </td>
            <td class="px-4 py-2">{{ admission.remarks }}</td>
          </tr>  
        </tbody>
      </table>  
    </div>  
  </div>  
</ng-container>  
