<!-- Patient Details Section -->
<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl font-semibold text-gray-700">Patient's Details:</h2>
  <button
    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button" [routerLink]="['/admin/patients']">Back</button>
</div>
<div class="overflow-x-auto">
  <ng-container *ngIf="patients$ | async as patient">
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-left text-gray-600 break-words">Full Name</th>
          <th class="px-4 py-2 text-left text-gray-600 break-words">Age</th>
          <th class="px-4 py-2 text-left text-gray-600 break-words">Sex</th>
          <th class="px-4 py-2 text-left text-gray-600 break-words">Contact Number</th>
          <th class="px-4 py-2 text-left text-gray-600 break-words">Email</th>
          <th class="px-4 py-2 text-left text-gray-600 break-words">Address</th>
          <th class="px-4 py-2 text-left text-gray-600 break-words">Patient Type</th>
          <th class="px-4 py-2 text-left text-gray-600 break-words">Diagnosis</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t border-gray-200">
          <td class="px-4 py-2 break-words">{{patient.firstName}} {{patient.lastName}}</td>
          <td class="px-4 py-2 break-words">{{patient.age}}</td>
          <td class="px-4 py-2 break-words">{{patient.sex}}</td>
          <td class="px-4 py-2 break-words">{{patient.contactNumber}}</td>
          <td class="px-4 py-2 break-words">{{patient.email}}</td>
          <td class="px-4 py-2 break-words">{{patient.address}}</td>
          <td class="px-4 py-2 break-words">{{patient.patientType}}</td>
          <td class="px-4 py-2 break-words">{{patient.diagnosis}}</td>
        </tr>  
      </tbody>
    </table>  
  </ng-container>
</div>

<!-- Prescriprion History Section -->
<ng-container *ngIf="prescriptions$ | async as prescriptions">
  <div *ngIf="prescriptions.length > 0">
    <div class="flex justify-between items-center mb-4 mt-8">
      <h2 class="text-xl font-semibold text-gray-700">Prescription History:</h2>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-left text-gray-600 break-words">Medication</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Dosage</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Date Prescribed</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Prescribed By</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Instruction</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200" *ngFor="let prescription of prescriptions">
            <td class="px-4 py-2 break-words">{{ prescription.medicationList }}</td>
            <td class="px-4 py-2 break-words">{{ prescription.dosage }}</td>
            <td class="px-4 py-2 break-words">{{ prescription.dateIssued | date: 'short' }}</td>
            <td class="px-4 py-2 break-words">
              <ul>
                <li *ngFor="let doctor of prescription.doctors">
                  Dr. {{ doctor.firstName }} {{ doctor.lastName }}
                </li>
              </ul>
            </td>
            <td class="px-4 py-2 break-words">{{ prescription.remarks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<!-- Billing History Section -->
<ng-container *ngIf="billings$ | async as billings">
  <div *ngIf="billings.length > 0">
    <div class="flex justify-between items-center mb-4 mt-8">
      <h2 class="text-xl font-semibold text-gray-700">Billing History:</h2>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-left text-gray-600 break-words">Date Of Billing</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Payment Status</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Payment Method</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Total Amount</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200" *ngFor="let billing of billings">
            <td class="px-4 py-2 break-words">{{ billing.dateOfBilling | date: 'short' }}</td>
            <td class="px-4 py-2 break-words">{{ billing.paymentStatus }}</td>
            <td class="px-4 py-2 break-words">{{ billing.paymentMethod }}</td>
            <td class="px-4 py-2 break-words">£{{ billing.totalAmount }}</td>
            <td class="px-4 py-2 break-words">{{ billing.remarks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>  

<!-- Admission History Section -->
<ng-container *ngIf="admissions$ | async as admissions">
  <div *ngIf="admissions.length > 0">
    <div class="flex justify-between items-center mb-4 mt-8">
      <h2 class="text-xl font-semibold text-gray-700">Admission History:</h2>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-left text-gray-600 break-words">Date</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Room Number</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Room Type</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Availability Status</th>
            <th class="px-4 py-2 text-center text-gray-600 break-words">Assigned Doctor</th>
            <th class="px-4 py-2 text-center text-gray-600 break-words">Assigned Nurse</th>
            <th class="px-4 py-2 text-left text-gray-600 break-words">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200" *ngFor="let admission of admissions">
            <td class="px-4 py-2 break-words">{{ admission.date | date: 'short' }}</td>
            <td class="px-4 py-2 break-words">{{ admission.roomNumber }}</td>
            <td class="px-4 py-2 break-words">{{ admission.roomType }}</td>
            <td class="px-4 py-2 break-words">{{ admission.availabilityStatus }}</td>
            <td class="px-4 py-2 break-words">
              <ul>
                <li *ngFor="let doctor of admission.doctors">
                  Dr. {{ doctor.firstName }} {{ doctor.lastName }}
                </li>
              </ul>
            </td>
            <td class="px-4 py-2 break-words">
              <ul>
                <li *ngFor="let nurse of admission.nurses">
                  {{ nurse.firstName }} {{ nurse.lastName }}, RN
                </li>
              </ul>
            </td>
            <td class="px-4 py-2 break-words">{{ admission.remarks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
